<!-- Star Habilidades -->
<section id="contacto" class="contacto padding-top-bottom">
  <div class="container text-center">
    <div class="section_txt">
      <p class="txt-gris">Ponerse en</p>
      <h2 class="titulo-section">Contacto</h2>
    </div>
    <div class="section-info">
      <div class="email">
        <fa-icon [icon]="faEnvelopeil"></fa-icon>
        <a href="mailto:ayoubguaje@gmail.com"> ayoubguaje&#64;gmail.com</a>
      </div>

      <div class="linkedin">
        <fa-icon [icon]="faLinkedin"></fa-icon>
        <a href="https://www.linkedin.com/in/hassen-ayyoub-chetti-5751241bb/" target="_blank">Linkedin</a>
      </div>
    </div>
  </div>
</section>
