<!-- Star About -->
<section id="about" class="about padding-top-bottom">
  <div class="container">
    <div class="section_txt">
      <p class="txt-gris">Saber más</p>
      <h2 class="titulo-section">Sobre mi</h2>
      <p class="parrafo">Soy una persona con ganas de aprender y sacarle partido al tiempo. Soy responsable y una persona de confianza. Me
        adapto a las situaciones que se presentan en el día a día en el mundo laboral intentando darles la mejor solución. Me
        gusta trabajar en equipo. Desde los 16 años he trabajado en varias labores complementando con los estudios. Siempre
        me ha gustado el mundo de la informática y a pesar de barreras que surgen cada día intento aprender y formarme en
        este ámbito. En definitiva, tengo muchas ganas de trabajar y crecer profesionalmente en las oportunidades
        que se me ofrezcan.</p>
    </div>
    <div class="section-info">
      <div class="educacion">
        <fa-icon class="icono" [icon]="faGraduationCap"></fa-icon>
        <h3 class="sub-titulo">Educación</h3>
        <ul class="lista">
          <li><fa-icon class="icono-about" [icon]="faArrowRight"></fa-icon> Curso de Front End (3 Meses en 2021) Centro San Luis, Bilbao</li>
          <li><fa-icon class="icono-about" [icon]="faArrowRight"></fa-icon> Grado superior de desarrollo Aplicación web (2022 - 2024) Colegio Zabalburu, Bilbao</li>
        </ul>
      </div>
      <div class="experencia">
        <fa-icon class="icono" [icon]="faBriefcase"></fa-icon>
        <h3 class="sub-titulo">Experencia</h3>
        <ul class="lista">
          <li><fa-icon class="icono-about" [icon]="faArrowRight"></fa-icon> Practicas en Empresa Laukoa <span>3 Meses (2021) Bilbao</span></li>
          <li><fa-icon class="icono-about" [icon]="faArrowRight"></fa-icon> Freelancer <span>(+ 2 años)</span></li>
          <li><fa-icon class="icono-about" [icon]="faArrowRight"></fa-icon> FP Dual en Ibermatica <span>1 años (2023 - 2024) Derio</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End About -->
