<!-- Star About -->
<section id="about" class="about padding-top-bottom">
  <div class="container">
    <div class="section_txt">
      <p class="txt-gris">Saber más</p>
      <h2 class="titulo-section">Sobre mi</h2>
      <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sunt eligendi consequatur esse. Sapiente omnis, voluptas laborum eum saepe accusamus aliquid nemo tenetur incidunt suscipit. Atque suscipit voluptatem fuga numquam.</p>
    </div>
    <div class="section-info">
      <div class="educacion">
        <fa-icon class="icono" [icon]="faGraduationCap"></fa-icon>
        <h3 class="sub-titulo">Educación</h3>
        <ul class="lista">
          <li><fa-icon class="icono-about" [icon]="faArrowRight"></fa-icon> Curso de Front End (3 Meses en 2021) Centro San Luis, Bilbao</li>
          <li><fa-icon class="icono-about" [icon]="faArrowRight"></fa-icon> Grado superior de desarrollo Aplicación web (2022 - 2024) Colegio Zabalburu, Bilbao</li>
        </ul>
      </div>
      <div class="experencia">
        <fa-icon class="icono" [icon]="faBriefcase"></fa-icon>
        <h3 class="sub-titulo">Experencia</h3>
        <ul class="lista">
          <li><fa-icon class="icono-about" [icon]="faArrowRight"></fa-icon> Practicas en Empresa Laukoa <span>3 Meses (2021) Bilbao</span></li>
          <li><fa-icon class="icono-about" [icon]="faArrowRight"></fa-icon> Freelancer <span>(+ 2 años)</span></li>
          <li><fa-icon class="icono-about" [icon]="faArrowRight"></fa-icon> FP Dual en Ibermatica <span>1 años (2023 - 2024) Derio</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End About -->
