<!-- Star About -->
<section class="about padding-top-bottom">
  <div class="container">
    <div class="section_txt">
      <p class="txt-gris">Saber más</p>
      <h2 class="titulo-section">Sobre mi</h2>
      <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sunt eligendi consequatur esse. Sapiente omnis, voluptas laborum eum saepe accusamus aliquid nemo tenetur incidunt suscipit. Atque suscipit voluptatem fuga numquam.</p>
    </div>
    <div class="section-info">
      <div class="educacion">
        <fa-icon class="icono" [icon]="faGraduationCap"></fa-icon>
        <h3>Educación</h3>
        <ul class="lista">
          <li>Front End Developer (2021)</li>
          <li>Desarrollo Aplicación web (2022 - 2024)</li>
        </ul>
      </div>
      <div class="experencia">
        <fa-icon class="icono" [icon]="faBriefcase"></fa-icon>
        <h3>Experencia</h3>
        <ul class="lista">
          <li>Front End Developer (2021)</li>
          <li>Desarrollo Aplicación web (2022 - 2024)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End About -->
