<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top mx-3">
  <div class="container">
    <div class="logo">
      <a href="#home">
        <span class="h">H</span>
        <span class="a">A</span>
        <span class="c">C</span>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 gap-3">
          <li class="nav-item active"><a class="active" href="#home">Home</a></li>
            <li class="nav-item"><a href="#about">About</a></li>
            <li class="nav-item"><a href="#experience">Experience</a></li>
            <li class="nav-item"><a href="#projects">Projects</a></li>
            <li class="nav-item"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>





<!-- Star Navbar -->

<!-- End Navbar -->




