<!-- Star Habilidades -->
<section id="habilidades" class="habilidades padding-top-bottom">
  <div class="container text-center">
    <div class="section_txt">
      <p class="txt-gris">Saber más</p>
      <h2 class="titulo-section">Habilidades</h2>
    </div>
    <div class="section-info row row-gap-3 column-gap-md-3 justify-content-center">
      <div class="front-end col-10 col-md-5 col-lg-3">
        <fa-icon class="icono" [icon]="faPenRuler"></fa-icon>
        <h3 class="sub-titulo">Front End</h3>
        <ul class="lista">
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> Diseño (Figma)</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> HTML 5</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> CSS 3</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> BootStrap</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> JavaScript</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> TypeScript</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> Angular +17</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> MATERIAL-UI</li>
        </ul>
      </div>
      <div class="back-end col-10 col-md-5 col-lg-4">
        <fa-icon class="icono" [icon]="faScrewdriverWrench"></fa-icon>
        <h3 class="sub-titulo">Back End</h3>
        <ul class="lista">
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> Java</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> Spring</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> RESTful APIs</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> Arquitectura de microservicios</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> Data Base</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> Spring Security / JWT / Keycloak</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> Testing - Debugging</li>
        </ul>
      </div>
      <div class="more-info col-10 col-md-6 col-lg-4">
        <fa-icon class="icono" [icon]="faCircleInfo"></fa-icon>
        <h3 class="sub-titulo">Otros</h3>
        <ul class="lista">
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> Sistema informático y redes</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> Docker</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> Git / GitHub</li>
          <li><fa-icon class="" [icon]="faCheck"></fa-icon> Wordpress</li>
        </ul>
      </div>

    </div>
  </div>

</section>
<!-- End Habilidades -->

