<!-- Star Profile -->
<section class="profile padding-top-bottom">
  <div class="container flex-column flex-md-row align-items-center d-flex  justify-content-md-around align-items-md-center">
    <div class="section_photo-container">
      <img src="./../../../assets/hassen.JPG" alt="">
    </div>
    <div class="section_txt">
      <p class="txt-gris">Hola, Soy</p>
      <h1>Hassen Ayyoub Chetti</h1>
      <p>Desarrollo Aplicaciónes web</p>
      <div class="btn-container d-flex justify-content-around">
        <button class="btn btn-outline-success">Descarga CV</button>
        <button class="btn btn-outline-success">Contacto</button>
      </div>
      <div class="socials-container d-flex gap-2 justify-content-center mt-3">
       <a href="https://github.com/AYOUB313132"><fa-icon [icon]="faFaceAngry"></fa-icon></a>
       <a href="https://www.linkedin.com/in/hassen-ayyoub-chetti-5751241bb/"><fa-icon [icon]="faFaceAngry"></fa-icon></a>
      </div>
    </div>
  </div>
</section>
<!-- End Profile -->
