<!-- Star Profile -->
<section class="profile padding-top-bottom">
  <div class="container">
    <div class="section_photo-container">
      <img src="./../../../assets/hassen.JPG" alt="">
    </div>
    <div class="section_txt">
      <p class="txt-gris">Hola, Soy</p>
      <h1>Hassen Ayyoub Chetti</h1>
      <p>Desarrollo Aplicaciónes web</p>
      <div class="btn-container">
        <button class="boton-outline" (click)="descargaCv()">Descarga CV</button>
        <a href="#contact" class="btn btn-outline-success">Contacto</a>
      </div>
      <div class="socials-container">
       <a href="https://github.com/AYOUB313132"><fa-icon [icon]="faGithub"></fa-icon></a>
       <a href="https://www.linkedin.com/in/hassen-ayyoub-chetti-5751241bb/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
      </div>
    </div>
  </div>
</section>
<!-- End Profile -->
